body {
   padding: 30px 0;
   color: white;
   font-size: 20px;
}

.row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 10px 0;
   width: 100%;
}

.col {
   width: 100%;
   margin: 0 10px;
   background-color: rgb(50, 160, 153);
   padding: 30px;
}

.col-2 {
   width: 200%;
   background-color: rgb(50, 160, 153);
   padding: 30px;
   margin: 0 10px;
}

.col-3 { 
   background-color: rgb(50, 160, 153);
   padding: 30px;
   width: 300%;
   margin: 0 10px;
}